
.star-rating {
  unicode-bidi: bidi-override;

  > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    height: 16px;
    position: relative;
  }
}

.rating1 {
  > span:nth-child(1):before {
    position: absolute;
    content: "\2605";
  }
}

.rating2 {
  > span:nth-child(1):before,
  > span:nth-child(2):before {
    position: absolute;
    content: "\2605";
  }
}

.rating3 {
  > span:nth-child(1):before,
  > span:nth-child(2):before,
  > span:nth-child(3):before {
    position: absolute;
    content: "\2605";
  }
}

.rating4 {
  > span:nth-child(1):before,
  > span:nth-child(2):before,
  > span:nth-child(3):before,
  > span:nth-child(4):before {
    position: absolute;
    content: "\2605";
  }
}

.rating5 {
  > span:nth-child(1):before,
  > span:nth-child(2):before,
  > span:nth-child(3):before,
  > span:nth-child(4):before,
  > span:nth-child(5):before {
    position: absolute;
    content: "\2605";
  }
}