
<section *ngIf="totalReviews > 0">
	<header>
		<div>
			<span class="star-rating" [attr.aria-label]="'Overall rating of' + reviewData.consolidatedOverallRating + ' stars'" [ngClass]="'rating' + reviewData.consolidatedOverallRating">
				<span [innerHTML]="'&#9733;'" aria-hidden="true"></span>
				<span [innerHTML]="'&#9733;'" aria-hidden="true"></span>
				<span [innerHTML]="'&#9733;'" aria-hidden="true"></span>
				<span [innerHTML]="'&#9733;'" aria-hidden="true"></span>
				<span [innerHTML]="'&#9733;'" aria-hidden="true"></span>
			</span>
			<span aria-hidden="true" class="txt-sub">overall</span>
		</div>


		<a [routerLink]="'reviews'">view all {{ totalReviews }} reviews</a>
	</header>
	<div class="container-reviews">
		<div>
			<h5>
				pro
				<small>most helpful 4-5 star reviews</small>
			</h5>
			<article *ngFor="let review of proReviews">
				<div class="star-rating" [attr.aria-label]="'product rating of ' + review.overallRating + ' star(s)'" [ngClass]="'rating' + review.overallRating">
					<span [innerHTML]="'&#9733;'" aria-hidden="true"></span>
					<span [innerHTML]="'&#9733;'" aria-hidden="true"></span>
					<span [innerHTML]="'&#9733;'" aria-hidden="true"></span>
					<span [innerHTML]="'&#9733;'" aria-hidden="true"></span>
					<span [innerHTML]="'&#9733;'" aria-hidden="true"></span>
				</div>
				<div class="review-title">{{ review.title }}</div>
				<p class="review-text">{{ review.review }}</p>
				<p>
					<a [routerLink]="'user'">{{ review.screenName }}</a>
					<time pubdate="pubdate">{{ review.datePosted }}</time>
				</p>
			</article>
		</div>
		<div>
			<h5>
				con
				<small>most helpful 1-2 star reviews</small>
			</h5>
			<article *ngFor="let review of conReviews">
				<div class="star-rating" [attr.aria-label]="'product rating of ' + review.overallRating + ' star(s)'" [ngClass]="'rating' + review.overallRating">
					<span [innerHTML]="'&#9733;'" aria-hidden="true"></span>
					<span [innerHTML]="'&#9733;'" aria-hidden="true"></span>
					<span [innerHTML]="'&#9733;'" aria-hidden="true"></span>
					<span [innerHTML]="'&#9733;'" aria-hidden="true"></span>
					<span [innerHTML]="'&#9733;'" aria-hidden="true"></span>
				</div>
				<div class="review-title">{{ review.title }}</div>
				<p class="review-text">{{ review.review }}</p>
				<p>
					<a [routerLink]="'user'">{{ review.screenName }}</a>
					<time pubdate="pubdate">{{ review.datePosted }}</time>
				</p>
			</article>
		</div>
	</div>
</section>