
<div *ngIf="totalReviews > 0">
	<div>
		<span class="star-ratings">{{ reviewData.consolidatedOverallRating }}</span>
		<span>overall</span>

		<a [routerLink]="'reviews'">view all {{ totalReviews }} reviews</a>
	</div>
	<div class="container-reviews">
		<div>
			<h5>
				pro
				<small>most helpful 4-5 star reviews</small>
			</h5>
			<article *ngFor="let review of proReviews">
				<div class="star-rating" [attr.aria-label]="'product rating of ' + review.overallRating + ' star(s)'" [ngClass]="'rating' + review.overallRating">
					<span [innerHTML]="'&#9734;'"></span>
					<span [innerHTML]="'&#9734;'"></span>
					<span [innerHTML]="'&#9734;'"></span>
					<span [innerHTML]="'&#9734;'"></span>
					<span [innerHTML]="'&#9734;'"></span>
				</div>
				<div class="review-title">{{ review.title }}</div>
				<p class="review-text">{{ review.review }}</p>
				<p>
					<a [routerLink]="'user'">{{ review.screenName }}</a>
					<time pubdate="pubdate">{{ review.datePosted }}</time>
				</p>
			</article>
		</div>
		<div>
			<h5>
				con
				<small>most helpful 1-2 star reviews</small>
			</h5>
			<article *ngFor="let review of conReviews">
				<div class="star-rating" [attr.aria-label]="'product rating of ' + review.overallRating + ' star(s)'" [ngClass]="'rating' + review.overallRating">
					<span [innerHTML]="'&#9734;'"></span>
					<span [innerHTML]="'&#9734;'"></span>
					<span [innerHTML]="'&#9734;'"></span>
					<span [innerHTML]="'&#9734;'"></span>
					<span [innerHTML]="'&#9734;'"></span>
				</div>
				<div class="review-title">{{ review.title }}</div>
				<p class="review-text">{{ review.review }}</p>
				<p>
					<a [routerLink]="'user'">{{ review.screenName }}</a>
					<time pubdate="pubdate">{{ review.datePosted }}</time>
				</p>
			</article>
		</div>
	</div>
</div>