
<div *ngIf="totalReviews > 0">
	<div>
		<span class="star-ratings">{{ reviewData.consolidatedOverallRating }}</span>
		<span>overall</span>

		<a [routerLink]="'reviews'">view all {{ totalReviews }} reviews</a>
	</div>
	<div class="container-reviews">
		<div>
			<h5>
				pro
				<small>most helpful 4-5 star reviews</small>
			</h5>
			<article>
				<span class="star-rating"></span>
				<div class="review-title"></div>
				<p class="review-text"></p>
				<p>
					<a [routerLink]="'user'"></a>
					<time pubdate="pubdate"></time>
				</p>
			</article>
		</div>
		<div>
			<h5>
				con
				<small>most helpful 1-2 star reviews</small>
			</h5>
			<article>
				<span class="star-rating"></span>
				<div class="review-title"></div>
				<p class="review-text"></p>
				<p>
					<a [routerLink]="'user'"></a>
					<time pubdate="pubdate"></time>
				</p>
			</article>
		</div>
	</div>
</div>