@import "../../styles/variables";

.container-product {
  display: flex;
  flex-wrap: wrap;

  > div,
  > div.container-productDetails {
    width: 100%;
    padding: 0;
  }
}

h1 {
  font: 300 1.625em/1.25 "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; // 26px
  text-align: center;
  margin: 0 0 30px;
}

hr {
  border-style: solid;
  border-color: #ccc;
}

.container-price {
  font: 900 1.875em/1 Arial, sans-serif;
  margin: 0 0 40px;

  small {
    font-size: 0.75rem;
    font-weight: normal;
    color: #666;
  }
}

.list-promotions {
  padding: 20px 0 10px;
  color: #f00;
  font-size: 1.125em;

  > li {
    padding: 0 0 10px;
  }
}

.container-quantity {
  margin: 28px 0 30px;
}

.list-purchaseActions {
  display: flex;
  margin: 0 0 30px;

  > li {
    width: calc(50% - 5px);
    padding: 0 0 0 5px;
    text-align: center;
  }

  > li:first-child {
    padding: 0 5px 0 0;
  }

  button {
    width: 100%;
  }

  .txt-sub {
    font-size: 0.75em;
    font-weight: 900;
    margin: 4px 0 0;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : $large-screen) {
  .container-product {
    > div {
      width: calc(50% - 15px);
      padding: 0 15px 0 0;
    }

    > div.container-productDetails {
      width: calc(50% - 15px);
      padding: 0 0 0 15px;
    }
  }
}