@import "../../styles/variables";

.container-product {
  display: flex;
  flex-wrap: wrap;

  > div,
  > div.container-productDetails {
    width: 100%;
    padding: 0;
  }
}

.container-productNameImages {
  margin: 0 0 25px;
}

h1 {
  font: 300 1.625em/1.25 "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; // 26px
  text-align: center;
  margin: 0 0 30px;
}

hr {
  border-style: solid;
  border-color: #ccc;
}

.container-price {
  font: 900 1.875em/1 Arial, sans-serif;
  margin: 0 0 40px;

  small {
    font-size: 0.75rem;
    font-weight: normal;
    color: #666;
  }
}

.list-promotions {
  padding: 20px 0 10px;
  color: #f00;
  font-size: 1.125em;

  > li {
    padding: 0 0 10px;
  }
}

.page-section {
  margin-bottom: 30px;
}

.container-quantity {
  margin-top: 28px;
}

.list-purchaseActions {
  display: flex;

  > li {
    width: calc(50% - 5px);
    padding: 0 0 0 5px;
    text-align: center;
  }

  > li:first-child {
    padding: 0 5px 0 0;
  }

  button {
    width: 100%;
  }

  .txt-sub {
    font-size: 0.75em;
    font-weight: 900;
    margin: 4px 0 0;
  }
}

.list-returnDetails {
  display: flex;
  align-items: center;
  justify-items: center;
  color: #666;

  dt {
    font-size: 1.25em;
    line-height: 1;
    padding: 0 14px 0 0;
    border-right: 1px solid #ccc;
    margin: 0 14px 0 0 ;
  }

  p {
    font-size: 0.625em;

    a {
      font-weight: 600;
    }
  }
}

.list-secondaryActions {
  display: flex;

  > li {
    width: calc(33% - 3px);
  }

  > li:nth-child(2) {
    padding: 0 6px 0;
  }

  button {
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 0.75em;
  }
}

.container-productDetailsInfo {
  h2 {
    font-size: 2.25em;
    margin: 0 0 30px;
  }
  ul {
    list-style: disc;
    color: #666;
    font-size: 0.875em;
    margin: 0 0 0 18px;

    > li {
      margin: 0 0 10px;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : $large-screen) {
  .container-product {
    > div {
      width: calc(50% - 15px);
      padding: 0 15px 0 0;
    }

    > div.container-productDetails {
      width: calc(50% - 15px);
      padding: 0 0 0 15px;
    }
  }
}